input, button {
    padding: 3px 10px !important;
}

#form-signin button {
    margin-top: 15px;
    font-size: 20px;
}

#signin-intro {
    margin-top: 10px;
}

#panel-tracks {
    margin-top: 10px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
}

.slick-prev, .slick-next {
    top: 100px;
}

.slick-prev {
    left: -40px;
}

.img-thumbnail {
    max-width: none;
    margin-bottom: -15px;
}

.track-title {
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 0;
}

.track-artist {
    white-space: nowrap;
    margin-top: -5px;
}