*, input, button {
    font-family: 'Kalam', cursive;
    text-shadow: 0.33px 0.33px 0.33px rgba(150, 150, 150, 0.8);
}

/* COMMON */
.cm-aligning {
    margin-top: 30px;
}

/* NAVBAR */
nav {
    padding: 1px 35px !important;
}

.navbar,
.navbar .dropdown-menu {
    background: #e02121;
    opacity: 0.8;
}

.navbar a,
.navbar .dropdown-menu a {
    color: white;
}

.navbar a:hover {
    color: #e2acac;
}

.navbar .dropdown-menu a {
    padding: 0px 10px;
}

.navbar .dropdown-menu a:hover {
    color: #dd1111;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* BODY */
body {
    background: #edeeef;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    padding: 3px;
    opacity: 0.8;
}

/* CARDS */
.card {
    -webkit-box-shadow: 0.25px 1px 4px 1px rgba(107,107,107,1);
    -moz-box-shadow: 0.25px 1px 4px 1px rgba(107,107,107,1);
    box-shadow: 0.25px 1px 4px 1px rgba(107,107,107,1);
}

.card h5 {
    background: #893c3c;
    color: white;
    padding: 8px 20px;
}

.card-body h4 {
    text-align: center;
}

/* FORM ERRORS */
.error-msg {
    color: #d81e1e;
    font-size: 13px;
}

/* INPUT FIELDS */
input {
    padding: 3px 10px !important;
}

/* SELECT */
select.form-control:not([size]):not([multiple]) {
    padding: 3px 10px !important;
    height: calc(2rem);
}

/* LABELS */
label {
    margin-bottom: 3px;
}

.form-group {
    margin-bottom: 5px;
}

/* BUTTONS */
.btn {
    font-weight: bold;
    border: 1.5px solid;
}